body {
  font-family: "TT Lakes";
  box-sizing: border-box;
}

.page {
  background: #f8f8fa;
  width: 100%;
}
.header_title {
  font-family: "TT Lakes";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e82;
  margin: 24px;
  padding-top: 16px;
}
button {
  cursor: pointer;
}

/* .main {
  margin-left: 24px;
  display: flex;
} */

.main_button {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: #ffffff;
  border-radius: 5px;

  width: 240px;
  height: 72px;
  margin-left: 24px;
  margin-bottom: 16px;
}

.underworld_button {
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #1b1c21;
  background: #f8f8fa;
  border: none;
  /* margin-bottom: 50px; */
  margin-left: 24px;
}

.main_underworld {
  padding-bottom: 30px;
}
.hide {
  display: none;
}

.hidden_buttons {
  display: none;
}

@media (min-width: 280px) and (max-width: 519px) {
  .main_underworld {
    display: none;
  }

  .header_title {
    margin: 16px;
  }

  .main_button {
    margin-left: 16px;
  }
  .swiper-wrapper {
    /* display: flex;
    flex-wrap: nowrap; */
  }
}

@media (min-width: 520px) and (max-width: 800px) {
  .main_button {
    width: 224px;
  }
  .main_brands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 800px) and (max-width: 2200px) {
  .main_brands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
